/* Utilities */
body{
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
    background-color:whitesmoke;
}
/************************** First Section Or Banner Section ***************************/
.top-banner{
    background-color: #2d25a0;
    margin-top: -50px;
    display: flex;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    padding-top: 90px;
    width: 90%;
}
.top-text{
width: 50%;
margin: 50px;
padding: 80px;
}
.top-h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
    word-spacing: 20px;
    padding-top: 20px;
}
/*Start Animate Part */
.animate-text{
    position: relative;
    color:  #e02c6d;
    -webkit-text-stroke: 0.3vw#2d25a0;
    text-transform: uppercase;
}
.animate-text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color:  #e02c6d;
    -webkit-text-stroke: 0vw#2d25a0;
    border-right: 2px solid  #e02c6d;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
}

/*End Animate Part */


.top-h3{
font-size: 20px;

}
.watch-btn{
background-color: #e02c6d;
color: white;
font-weight: 300;
text-decoration: none;
padding: 15px 20px;
}
.watch-btn:hover{
   background-color: white;
   color: #e02c6d;
   font-weight: 700;
}

/******************************************** Second Section Or Grid Section  **********************************************/

.grid-view{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items :center;
    padding-right:170px;
    padding-left: 170px;
    padding-bottom: 100px;
   
}
.grid-item{
    height: 450px;
    width: 350px;
    background-color:#ffffff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.grid-img{
width: 100%;
}
.grid-img img{
    width: 100%;
    }
.grid-caption{

}
.grid-h3{
    font-weight: 700;
    color: #e02c6d;

}
.grid-p{
font-weight: 300;
color: gray;
}

/******************************** Third Section Or Market Section ***********************************/

.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    place-items :center;
}
.card-item{
    width: 400px;
    height: 500px;
    margin: 80px;
    text-align: center;
    
   
}
.card-img img{
    width: 80%;
    size: 56px;
    transition: 2s;
    
}
.card-img img:hover{
    transform:rotate(180deg);
    cursor: pointer;
    
} 

.card-item:hover{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             cursor: pointer;
             
}

.revision-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    color: #e02c6d;
}
.fa-star-half-alt{
    color: #e02c6d;
}
.title{
    text-align: center;
}
.price{
    color: #e02c6d;
 
}
.offer{
    
    color: rgba(128, 128, 128, 0.781);
}
.discount{
    color: gray;
}
.price-part{
    display: flex;
    align-items: center;
    column-gap:  10px;
}

/************************** Four Section Or Post Section ********************/

.post-hr{
    width: 35%;
}


.post-section{
    text-align: center;
    padding-bottom: 30px;
    
}
.post-h1{
font-size: 60px;
font-weight: 700;
color: #e02c6d;
}
.post-p{
padding-bottom: 20px;
font-weight: 300;
color: gray;
}

.post-h3{

}
.post-btn{
    background-color: #e02c6d;
color: white;
font-weight: 300;
text-decoration: none;
padding: 10px 15px;
}

/*********************  Footer Section  *************************/

.footer-part{
padding-top: 50px;
text-align: center;
}
.foot-img{
size: 50px;
}
.foot-img img{
    width: 30%;
}

.icon-part{
    display: flex;
    justify-content: center;
    flex-grow: 20px;
  font-size: 40px;
}
.fa-facebook-f{
    color: gray;
    padding: 50px;
    font-size: 50px;
      }
.fa-facebook-f:hover{
        color: #4472b8;
       
    }
        
.fa-instagram{
        color: gray;
    padding: 50px;
    font-size: 50px;
    }
    .fa-instagram:hover{
       color:#af3192;
    }
    
    .fa-linkedin-in{
        color: gray;
        padding: 50px;
        font-size: 50px;
    }
    .fa-linkedin-in:hover{
        color: #4472b8;
    }
    .fa-youtube{
        color: gray;
        padding: 50px;
        font-size: 50px;
    }
    .fa-youtube:hover{
        color: red;
    }
    .copyright-part{
        text-align: center;
        color: gray;
    }
    

/* ---------------------
    Media Queries (width=600px , Height=450px)
-----------------------*/

/* Mobile Devices */
@media only screen and (max-width:688px) {

    /* First Section  */

    .top-banner{
        background-color: #2d25a0;
        width: 100%;
        display: flex;
        flex-grow: 100px;
    }
    .top-text{
        margin: 0 auto;
    }
    .top-h1{
        font-size: 20px;
    }
    .watch-btn{
        background-color: #e02c6d;
        color: white;
        font-weight: 300;
        text-decoration: none;
        padding: 0px 1px;
        }
        .watch-btn:hover{
           background-color: white;
           color: #e02c6d;
           font-weight: 700;
        }

        /* Second Section  */

        .grid-view{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-left: 18px;
            place-items: center;
            
           
        }

        /* Third Section  */


        .card{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            }


            /* Four Section  */

           
            
            
         .post-section{
                text-align: center;
                padding-bottom: 30px;
                
            }
            .post-h1{
            font-size: 30px;
            font-weight: 700;
            color: #e02c6d;
            }
            .post-p{
            padding-bottom: 20px;
            font-weight: 300;
            color: gray;
            }
            
            .post-btn{
            background-color: #e02c6d;
            color: white;
            font-weight: 300;
            text-decoration: none;
            padding: 8px 10px;
            }

            /* Footer Section  */


       
            .footer-part{
                padding-top: 50px;
                text-align: center;
                }
                .foot-img{
                size: 30px;
                }
                .foot-img img{
                    width: 30%;
                }
                
                .icon-part{
                    display: flex;
                    justify-content: center;
                    flex-grow: 20px;
                  font-size: 20px;
                }
                .fa-facebook-f{
                    color: gray;
                    padding: 25px;
                        font-size: 25px;
                      }
                .fa-facebook-f:hover{
                        color: #4472b8;
                       
                    }
                        
                .fa-instagram{
                        color: gray;
                        padding: 25px;
                        font-size: 25px;
                    }
                    .fa-instagram:hover{
                       color:#af3192;
                    }
                    
                    .fa-linkedin-in{
                        color: gray;
                        padding: 25px;
                        font-size: 25px;
                    }
                    .fa-linkedin-in:hover{
                        color: #4472b8;
                    }
                    .fa-youtube{
                        color: gray;
                        padding: 25px;
                        font-size: 25px;
                    }
                    .fa-youtube:hover{
                        color: red;
                    }
                    .copyright-part{
                        text-align: center;
                        color: gray;
                    }
        
        
}